body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    box-sizing: border-box;
}

.calendar {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}






